{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}Sign In{% endblock %}</h1>
{% endblock %}

{% block content %}
 	{% if 'Success' in loginResult %}
		<p>You may now run <a href="{{ url_for('spellcheck') }}">SpellCheck</a></p>
	{% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.uname.label }}<br>
            {{ form.uname(size=32) }}
			{% for error in form.uname.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
        </p>
        <p>
            {{ form.pword.label }}<br>
            {{ form.pword(size=32) }}
			{% for error in form.pword.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
        </p>
        <p>
            {{ form.twoFA.label }}<br>
            {{ form.twoFA(size=11) }}
            {% for error in form.twoFA.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
	<div id="result" style="display: none;">{{ loginResult }}</div>
{% endblock %}
